//Colors

$primary_color: #9356DC;

$secondary_color: #FF79DA;

$tertiary_color: #99E2D0;

$background_color: rgb(246, 246, 246);

$footer_color: rgb(56, 56, 56);

//Fonts

$font_text: 'Roboto';

$font_title: 'Shrikhand';