// Imports 

    @import "mylibrary/variables.scss";

//* Fonts *//

    body {font-family: $font_text;}

//* Cancellation of the style's link and margin *//

    a {text-decoration: none; color: black ;}

    body {margin: 0 0 0 0;}

//* Index style *//

    //* Header's style *//

    //* Section 2 style *//

        #photo1, #photo2, #photo3, #photo4 {width: 80%;}

    //* Footer's style *//

        #footertitle {font-family: $font_title;}

//* Page 1,2,3 and 4 style *//

    //* Menu's style µ//

        #photopage1, #photopage2, #photopage3, #photopage4 {width: 100%;}

        #titlemenu {font-family: $font_title;}




